<!-- About Section -->
<section id="about" class="about">
    <div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2">
            <h3>{{ site.aboutTitle }}</h3>
            <div class="row about-details">
              Já estava mais do que na hora de termos nossa edição deste evento que já está mais do que consolidado e aprovado pela comunidade FrontEnd. Já vimos FrontInPoa, FrontInFloripa, FrontInAracaju, FrontInBH, FrontInCuiaba, FrontInSM, FrontInBahia, FrontInMaceio e FrontInFortaleza e finalmente em 2016 estamos lançando o FrontInNatal. O evento é voltado para todo e qualquer estudante ou profissional da área de designer gráfico à desenvolvedor de software que atue na área de FrontEnd ou que deseje entrar neste mercado que cresce exponencialmente a cada dia que passa.
              <br>
              O evento será realizado durante todo o dia e será composto por diversas palestras sobre temas variados dentro do contexto e tecnologias no qual o evento está relacionado. Em paralelo as palestras iremos realizar uma atividade inédita chamada DojoInTheDark que ainda é um mistério de como irá funcionar, mas temos certeza de que será bastante divertido e que vocês irão gostar.
              <br>
              Está aberto o Call4Papers para palestrar no evento sobre qualquer assunto relacionado ao tema, seja ele UX, Design de interfaces, CSS, JavaScript, HTML, Controle de versão, Web Performance, Package Managers, Testes, Mobile, Wireframing, FrontEnd Frameworks, Developer Tools …
              <br>
              Envie sua proposta de palestra para <a href="http://speakerfight.com/events/frontinnatal-2016/">http://speakerfight.com/events/frontinnatal-2016/</a>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
