<header id="top-header" class="top-header">
    <div class="logo-content">
      <a href="{{ site.baseurl }}/">
          <object type="image/svg+xml" data="{{ site.baseurl }}/img/svgs/fullname-logo.svg"></object>
      </a>
    </div>
    <div class="nav-content">
      <nav>
          <ul>
              <li>
                  <a href="#about">Sobre</a>
              </li>
              <li>
                  <a href="#location-map">Local</a>
              </li>
              <li>
                  <a href="#partners">Patrocinadores</a>
              </li>
          </ul>
      </nav>

    </div>
</header>
