$nav-color: #fff;
$nav-color-hover: #F6F6F6;
$nav-scroll-color: rgba(0, 0, 0, .5);
$nav-scroll-color-hover: rgba(0, 0, 0, .8);

.top-header {
    position: absolute;
    top: 100vh;
    z-index: 500;
    width: 100%;
    padding: 0 45px;
    padding-top: 0;
    background-color: #46290F;
    text-align: left;

    .logo-content{
      display: inline-block;
      a{
        display: block;
        object{
          display: block;
          width: 200px;
          margin-top: 12px;
        }

      }
    }

    .nav-content{
      display: inline-block;
      vertical-align: middle;
      float: right;
      height: 47px;
      line-height: 47px;
      font-size: 15px;
      text-align: center;

      ul{
        margin-top: 0;
        margin-bottom: 10px;
        list-style: none;

        li{
          padding: 0 15px;
          display: inline-block;

          a{
            color: #FFCB05;
            font-weight: 900;

            &.selected, &:active{
              color: #F89838;
              text-decoration: underline;
            }

          }

        }

      }

    }

    @media (min-width: 768px) and (max-width: 991px) {
        padding: 13px 0 0 34px;
    }
    &.fixed{
      position: fixed;
      top: 0;
    }
    .overlay {
        opacity: 1;
        transition: $base-transition;
    }
}
.logo-header {
    display: block;
    width: 180px;
    margin-bottom: 15px;
    transform: translateY(0px);
    transition: $base-transition;
    margin: 20px 0 10px 0;
    @media (max-width: 767px) {
        transform: translateX(-45px);
    }
    .logo {
        display: inline-block;
        float: left;
        width: 185px;
        height: 82px;
        margin-right: 0px;
        margin-top: -20px;
        transform: scale(.8);
        vertical-align: middle;
         @media (max-width: 767px) {
            transform: scale(.6);
        }
    }
}
.logo-navbar {
    width: 185px;
    height: 60px;
    margin: 8px 20px 0 -10px;
    transform: scale(.6);
    vertical-align: middle;
}

.right-nav-button {
    margin: 11px 11px 0 0;
    transition: $base-transition;
    opacity: 1;
    display: block;
    &:nth-of-type(1) {
        margin-right: 65px;
    }
    a {
        font-size: $base-font-size * 90 / 100;
    }
    &.right-nav-button-hidden {
        opacity: 0;
        transform: translateY(-50px);
    }
}
.icon-menu {
    width: 20px;
    height: 20px;
    fill: #e6e6e6;
    .top-header.after-scroll & {
        fill: #464646;
    }
}
.menu-trigger {
    float: right;
    transform: translateY(20px);
    right: 45px;
    transition: $base-transition;
}
.bottom-navlinks {
    position: absolute;
    bottom: 26px;
}
.bottom-navlinks-small {
    position: relative;
    bottom: 26px;
    margin-top: 75px !important;
}
